@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600);

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
    background: #e2e2e2;
}

.row {
    margin: 0;   
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.filter-wrapper {
    border:2px;
    border-color: #b5b5b5;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #d1d1d1;
}

.section-wrapper {
    border:2px;
    border-color: #d1d1d1;
    border-style: solid;
    border-radius: 5px;
/*    margin-top: 10px;*/
    padding: 0 20px 10px 20px;
    background-color: #fff ;
}

#sidebar-wrapper{
	background-color: #2b333e ;
}

.sidebar-brand-logo img{
    width: 60px;
    height: auto;
    margin-top: 10px;
    
}
.sidebar-brand-text {
    font-size: 16px;
	font-weight: 300; 
	color:#fcfcfc;
/*    margin-top: -10px;*/

}

.sidebar-nav > li {
/*	font-weight: 500; */
	font-size: 16px;
	
}

.navbar-inverse .navbar-nav>li>a {
    color: #A0AEB6;
}

.section-wrapper > .row {
    padding-bottom: 20px;
}

h1 { 
	font-weight: 700; 
}

.nodata{
    background: #c1c1c1;
}

/* Summary */
.hsum {
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    line-height: auto;
    color: #4c4c4c;
}

.bsum {
    font-size: 22px;
    font-weight:600; 
    padding-bottom: 30px;
    line-height: auto;
}

.activeUser {
    color:#FF5A5E;
    line-height: 20px;
}

.inactiveUser {
    color:#949FB1;
    line-height: 20px;
}

.totalRegis {
    color: #16d4cd;
    line-height: 20px;
}

.totalNewUser {
    font-size: 18x;
    color:#7a7a7a;
    font-weight:600; 
    line-height: 20px;
    
}

.newUser {
    color: #474747; 
}

.userZone {
    line-height: 30px;
}

.userZone-title {
    line-height: 35px;
}

.userZone-num {
    font-size: 22px;
    font-weight: 600;   
}

/* End Summary */

.icon {
    width: 20px;
    margin-right: 5px;
}

.btn-primary {
    background: RGBA(59, 192, 195, 1);
    padding-top: 5px;    
}

.checkbox label{
    font-size: 15px;
}

.input-daterange .input-sm{
    font-size: 15px;
}

.section-wrapper thead {
    color:#fff;
/*    background: #0A1743;   */
    background: #00ac92;
}

.table thead tr th
{
/*    font-weight: 400;*/
    text-align: center;
    vertical-align: middle;
}

.section-wrapper tbody {
    background: #eaeaea;
}

.checkbox {
    margin-top: 0px;    
}



/* Chart.js */
#chart-area{
    width: 600px;
}



.pie-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
}
.pie-legend {
    list-style: none;    
}

.centered{
    text-align: center;
    padding: 20px;
}

.navlist { list-style-type: square; }

.announceTitle {
    color:#fcfcfc;
    background-color: #2b333e; 
    padding: 10px 60px;
}


.announceDetail {
    padding: 30px 60px;
}

.announceText {
    font-weight: 100;
    display: inline;
}

.alert {
    background-color: #d3d3d3;
}

.success {
    background-color: #fdfd3a;
}

section {
    padding-bottom: 20px;   
}

table td {
    background-color: #fff;   
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.table-title {
/*
    font-size: 22px;
    font-weight: 500;
*/
    padding-bottom: 5px;
}

.navbar {
    background-color: #2b333e;
    border-radius: 0;    
    padding: 0 5px;
}

.navbar-inverse .navbar-brand {
 color: #fff; 
}

.navbar-brand {
    padding: 7px 20px;
    font-size: 15px;   
}

.navbar-brand img {
    margin-top: -2px;
    margin-right: 5px;   
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;   
}

.navbar-toggle {
    color: #fff;
    line-height: 14px;
}


@media (min-width: 980px) 
{
    #sidebarTop {
        display: none;
    }
}

@media (max-width: 767px) 
{
    
    #filter-data{
        display: none;
    }
    
    .section-wrapper {
        border:2px;
        border-color: #d1d1d1;
        border-style: solid;
        border-radius: 5px;
        margin-top: 2px;
        padding: 0;
        background-color: #fff ;
    }
    
}

.bsum2 {
    font-size: 22px;
    font-weight:300; 
    padding-bottom: 10px;
}
